

.root{
    -fx-background-color: #383838;
}
#authenticationPane .label{
    -fx-text-fill: #fff;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 0 -1 0 -1;

}

.text-field:focused {
    -fx-background-color: #6e6e6e, white , white;
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 0 -1 0 -1;
}

.button{
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-color: #282828;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}
.button:hover{
    -fx-cursor: hand;
    -fx-background-color: #19ACD5;
    -fx-text-fill: #fff;
}


.wrong-credentials
{
    -fx-background-color: Red, white, white;
}


.wrong-credentials:focused
{
    -fx-background-color: Red, white, white;
}

.text-field{
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}
